<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Cinemax{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('public/css/mainframe.css') }} " type="text/css" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("bundles/applicationsonatauser/css/sonata.css") }}"/>
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset("public/js/jquery-1.9.1.min.js") }}"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ asset("public/js/time.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/animation.js") }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<header>

    <div class="line"></div>
    <div class="line2"></div>
    <div class="year"><img src="{{ asset('public/images/2013.png') }}" alt="2013"/></div>
    <div class="float_left">
        <div class="header_logo"><a href="{{ path("cinemax_homepage") }}"><img class="logo" src="{{ asset('public/images/logo.png') }}" alt="logo"/></a></div>
        <div class="logo_shadow"></div>
        <span class="header_title clearbox">ПЕРВЫЙ ОФФИЦИАЛЬНЫЙ САЙТ<br>ПРОИЗВОДСТВА КОМПАКТ-ДИСКОВ</span>
    </div>
    <div class="header_picture"></div>
    <div class="pipe clearbox"></div>
    <div>
        <div id="projectors"></div>
        <div class="projectors_light"></div>
    </div>
    <div class="left_bg"></div>
    <div class="date_position">
        СЕГОДНЯ<br/>
        <span id="today"></span><br/>
        <span id="date"></span><br/>
        <span id="hour_min_sec"></span>
    </div>
    <div id="main-header-menu" class="clearbox">
        <ul>
            <li id="menu_bounce" class="item_margins">
                <a href="#">
                    <span class="menu_catalog menu_margins"></span>
                    <span class="menu_title">КАТАЛОГ</span></a>
            </li>
            <li id="menu_bounce" class="item_margins">
                <a href="#">
                    <span class="menu_galery menu_margins"></span>
                    <span class="menu_title">ФОТОГАЛЕРЕЯ</span>
                </a>
            </li>
            <li id="menu_bounce" class="item_margins">
                <a href="#">
                    <span class="menu_trailers menu_margins"></span>
                    <span class="menu_title">ТРЕЙЛЕРЫ</span>
                </a>
            </li>
            <li id="menu_bounce" class="item_margins">
                <a href="#">
                    <span class="menu_novinki menu_margins"></span>
                    <span class="menu_title">НОВИНКИ</span>
                </a>
            </li>
            <li id="menu_bounce" class="item_margins">
                <a href="#">
                    <span class="menu_sotrudniki menu_margins"></span>
                    <span class="menu_title">СОТРУДНИКИ</span>
                </a>
            </li>
            <li id="menu_bounce" class="item_margins">
                <a href="#">
                    <span class="menu_about_us menu_margins"></span>
                    <span class="menu_title">О НАС</span>
        </a>
            </li>
        </ul>
    </div>

    <div class="header_definition clearbox">
        <div class="definition_bg"></div>
        <div class="definition">Компания <span>«Cinemax»</span> - производство, нанесение изображения на компакт диски,
            репликация, тиражирование компакт дисков.
        </div>
    </div>
    <div>
        {% block menu %}
            {% render("CinemaxMenuBundle:Menu:index") %}
        {% endblock %}
        {% block login %}
            <div class="log_reg">
            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="user_login">
                    <div class="float_left">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    |
                    </div>

                    <div class="float_right">
                     <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                     </a>
                    </div>
                </div>
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}" class="register">
                    <div class="user_registration"></div>
                    <div class="user_registration_hover"></div>
                    <span class="label_register">РЕГИСТРАЦИЯ</span>
                    <span class="reg_strelka"></span>
                </a>
                    <div class="forgot_password"><a href="{{ path('fos_user_resetting_request') }}">ЗАБЫЛИ ПАРОЛЬ?</a></div>
                 {% render("ApplicationSonataUserBundle:Security:loginBase") %}
            {% endif %}
            </div>
        {% endblock %}
        <div class="reklama">
            <div class="banner"></div>
            <span>МЕСТО ДЛЯ<br>ВАШЕЙ РЕКЛАМЫ</span>
        </div>
    </div>

</header>
<hr class="main_hr clearbox">
{% block body %}
{% endblock %}
</body>
</html>
