{% extends "ApplicationSonataUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            |
        </div>

        <div>
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>

    {% else %}
        <a href="{{ path('fos_user_registration_register') }}">
            <div class="user_registration">
                Зарегистрироваться
            </div>
        </a>
    {% endif %}
    <div id="right_side">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token"
                   value="{% render('ApplicationSonataUserBundle:Security:getToken') %}"/>
            <span>ЛОГИН</span>
            <div class="reg_strelka1"></div>
            <input type="text" id="login" class="login_password" name="_username" value="Введите свой логин" required="required"/><br>
            <span>ПАРОЛЬ</span>

            <div class="reg_strelka2"></div>
            <input type="password" id="password" class="login_password" name="_password" required="required"
            value="password"/><br>
            {% if error %}
                <div style="position: absolute">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}
            <div style="visibility: hidden"><input type="submit" id="_submit" name="_submit"
                value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
            </div>
          </form>
    </div>
{% endblock fos_user_content %}








