{% if disc.active == 1 %}
<div class="description">
    <a href="#" class="float_left">{% media  disc.poster, 'big' with {'class' : 'slider_disc'}%}</a>
    <div class="opacity"></div>
    <div class="slider_description">
        <span>Описание диска</span>
        <div class="disc_desc">
            <ul>
                <li><span>Название диска: </span>{{ disc.name }}</li>
                <li><span>Страна: </span>{{ disc.country }}</li>
                <li><span>Формат: </span>{{ disc.format }}</li>
                <li><span>Количество: </span>{{ disc.quantity }}</li>
                <li><span>Производитель: </span>{{ disc.producer }}</li>
                <li><span>Перевод: </span>{{ disc.translation  }}</li>
            </ul>
        </div>
    </div>
</div>
{% endif %}



